<%= render 'layouts/errors', :object => @feed %>
<%= render 'layouts/exception' %>
<%= form_for(@feed) do |f| %>

  <div class="form-group">
    <%= f.label "URL to RSS Feed" %><br>
    <%= f.text_field :rss, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add RSS Feed", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
