<% content_for :header do %>
  <%= @item.title %>
<% end %>

<div class="show-item-padding">
  <%= button_to "Hide/Mark Done", feed_item_path(@feed, @item),
  {:controller => "items",
    :action => "update",
    :method => "patch",
    params: { donewith: true },
    class: "btn btn-warning btn-lg btn-block btn-nav" } %>

  <div class="item-description">
    <%= raw @item.description %>
  </div>

  <%= link_to "Download", @item.mp3_url, { download: @item.mp3_url, class: "btn btn-info btn-lg btn-block" } %>

</div>

<% content_for :footer do %>
  <%= link_to "Back", :back, { class: "btn btn-warning btn-lg btn-block btn-nav" } %>
<% end %>
