<!DOCTYPE html>
<html>
<head>
  <title>Rsser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
      <%= yield %>
    </div>
    <div class="col-md-4 col-md-offset-4 navbar-fixed-bottom">
      <footer class="footer">
        <%= yield :footer %>
      </footer>
    </div>
  </div>
</body>
</html>
